:root{
  --gray:rgb(219, 219, 219);
  --primary-color:#F02F72;
  --white-color:#fff;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* DRAWER */
.drawer-list{
  align-items: flex-start;
  gap: 10px;
  margin-left: 20px;
}


/* PETS PAGE */
.pets-page{
  width: 80%;
  margin: auto;
}

.pets-table-container{
  padding: 10px;
  margin-top: 30px;
  border-top: 1px solid var(--gray);
}

.pets-table-container .filters-container{
  max-width: 500px;
  margin: 10px 0 30px 0;
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
}
.pets-table-container .filters-container .css-sghohy-MuiButtonBase-root-MuiButton-root,
.pets-table-container .filters-container .css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
  height: 50px;
}

.table-headers{
  background-color: var(--primary-color);
}
.table-headers > th,
.table-headers > td{
  color: var(--white-color);

}


/* HEADER COMPONENT */
.header-component{
  width: 80%;
  margin: 1em auto;
}

/* MENU COMPONENT */
.menu-component button{
  color: black;
  text-transform: capitalize;
}

/* BUTTON BASE */
.btn-base{
  background-color: var(--primary-color)!important;
}
.btn-base-outlined{
  border: 1px solid var(--primary-color)!important;
  color: var(--primary-color)!important;
}