:root {
  --gray: rgb(244, 244, 244);
  --primary-color: #F02F72;
  --secondary-color:#dfc1e0;
  --white-color: #fff;
  --blue-color: rgb(65, 87, 255);
  --red-color: rgb(255, 85, 38);
}
*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gray);
}
a{
  text-decoration: none;
  color: var(--black-color);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button:disabled{
  opacity: 0.5!important;
  cursor: default;
}
/* GLOBAL CSS */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 49%);
  gap: 20px!important;
  margin-top: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-container {
  width: 100%;
  gap: 10px 0;
}

.modal-container {
  margin: 0 auto;
  padding: 1em 2em 2em 2em;
  border-radius: 3rem;
}

.layout-page.modal-container > div:first-child {
  width: 70%;
  background-color: var(--white-color);
  margin: 0 auto;
  border-radius: 3rem;
  padding: 3rem;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root:disabled {
  cursor: default;
  opacity: .5;
}

/* LAYOUT */
.layout-component {
  width: 60%;
  margin: 0 auto;
  height: 100vh;
  padding: 20px;
  background-color: var(--white-color);
}

@media (max-width:1300px) {
  .layout-component {
    width: 70%;
  }
}

@media (max-width:1000px) {
  .layout-component {
    width: 80%;
  }
}

@media (max-width:400px) {
  .layout-component {
    width: 100%;
  }
}

/* DRAWER */
.drawer-component {
  padding: 10px;
}

.drawer-list {
  align-items: flex-start;
  gap: 10px;
  margin-left: 20px;
  margin-top: 40px;
}

.drawer-list>a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  padding: 5px 0;
}

.drawer-list>a:hover {
  font-size: 24px;
  transition: 450ms all;
}

.drawer-header-component {
  gap: 10px;
  padding: 0 20px;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  background-color: var(--primary-color) !important;
}


/* PETS PAGE */

.actions-container span {
  margin: 5px;
  cursor: pointer;
}

.actions-container span:first-child {
  color: var(--blue-color);
}

.actions-container span:nth-child(2) {
  color: var(--red-color);
}

.pets-table-container {
  padding: 10px;
  margin-top: 30px;
  border-top: 1px solid var(--gray);
}

.pets-table-container .filters-container {
  margin: 20px 0;
}

.pets-table-container .filters-container-input {
  width: 50%;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100%;
}

.pets-table-container .filters-container .css-sghohy-MuiButtonBase-root-MuiButton-root,
.pets-table-container .filters-container .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  height: 50px;
}

.table-headers {
  background-color: var(--primary-color);
}

.table-headers>th,
.table-headers>td {
  color: var(--white-color);

}

.table-container-scroll {
  max-height: 500px;
  overflow-y: auto;
}

.add-pet-button{
  color: var(--primary-color);
  background-color: var(--white-color);
  padding: .5rem;
  display: flex;
  align-items: center;
  max-width: 200px;
  justify-content: center;
  border-radius: 3px;
  gap: 10px;
  font-weight: 400;
  border: 1px solid var(--primary-color);
  margin-top: 2rem;
  transition: 300ms all;
}
.add-pet-button svg{
  color: var(--primary-color);
  transition: 300ms all;
}
.add-pet-button:hover{
  background-color: var(--primary-color);
  color: var(--white-color);
}
.add-pet-button:hover > svg{
  color: var(--white-color);
}
@media (max-height:800px) {
  .table-container-scroll {
    max-height: 300px;
    overflow-y: auto;
  }
}

/* HEADER COMPONENT */
.header-component {
  padding: 0 0 20px 0;
}

/* MENU COMPONENT */
.menu-component button {
  color: var(--white-color);
  margin-bottom: -3px;
  font-size: 18px;
}
.menu-component.capitalize button{
  text-transform: capitalize;
}
.menu-component.lowercase button{
  text-transform: lowercase;
}

/* BUTTON BASE */
.btn-base {
  background-color: var(--primary-color) !important;
}

.btn-base-outlined {
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
}

/* REGISTER PET */
.register-pet-page h2 {
  margin-top: 50px;
}

.btn-container-pets-page {
  display: flex;
  margin-top: 30px;
}

.floating-dog {
  position: absolute;
  right: 10%;
  bottom: 0;
}

.reset-button-container {
  justify-content: flex-end;
}

.reset-button-container svg {
  color: var(--primary-color);
  transform: scale(1.2);
  margin: 10px;
  cursor: pointer;
}

@media (max-width:1000px) {
  .floating-dog {
    display: none;
  }
}

/* MODAL */
/* .modal-container{
  background-color: var(--white-color);
} */

/* UPDATE PET */
.update-pet-modal {
  width: 70%;
}

.update-pet-modal button {
  margin-right: 10px;
}


/* MODAL DELETE CONTAINER */
.modal-delete-container {
  width: 20%;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
}

.modal-delete-container button {
  margin-right: 10px;
}

.bg-auth {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -9999;
}

/* LOGIN */
.auth-form-container {
  color: var(--gray) !important;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid var(--gray);
  width: 90%;
  padding: 1rem;
}

.auth-form-container button {
  width: 100%;
  height: 50px;
  margin-top: 1rem;
}

.auth-form-container-link {
  text-align: center;
  margin-top: 2rem;
}

.auth-form-container-link a {
  font-weight: bold;
  color: var(--white-color);
  letter-spacing: 1px;
}

.css-i44wyl{
  width: 100%;
}

.table-row:hover{
  background-color: var(--gray);
  transition: 200ms all;
  cursor: pointer;
}


.send-request-pet-modal{
  width: 85%;
}

.container-grid-image-send-request img{
  margin: auto;
}

.login-modal{
  width: 30%;
}

.layout-page.modal-container.login-modal .auth-form-container,
.layout-page.modal-container.login-modal .auth-form-container .auth-form-container-link a{
  color: var(--black-color)!important;
}
.layout-page.modal-container.login-modal .auth-form-container h1{
  margin-bottom: 1rem;
}

.carousel .carousel-status{
  display: none;
}

.carousel.carousel-slider .control-arrow:hover{
  background-color: transparent;
}


.returnup {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 2em;
}

.returnup div {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  color: var(--white);
  border-radius: 9999px;
  background-color: var(--primary-color);
}

.hidden{
  display: none;
}

/* REQUEST MODAL */
.request-details-info-modal h2{
margin-bottom: 1rem;
margin-top: 2rem;
}

.grid-container-request-details{
  margin: 2rem 0;
}

/* LOGO */
.logo-container{
  display: flex;
  align-items: center;
}

.logo-container img{
  width: 70px;
}
.logo-container h2{
  margin-left: 10px;
}
.logo-absolute-container{
  position: absolute;
  top: 30px;
  left: 200px;
}