:root {
  --gray: rgb(244, 244, 244);
  --primary-color: #F02F72;
  --white-color: #fff;
  --blue-color: rgb(65, 87, 255);
  --red-color: rgb(255, 85, 38);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gray);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* GLOBAL CSS */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 49%);
  gap: 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-container {
  width: 100%;
  gap: 10px 0;
}

.modal-container {
  margin: 2em auto 0;
  padding: 1em 2em 2em 2em;
  border-radius: 10px;
  /* background-color: var(--white-color); */
}

.css-sghohy-MuiButtonBase-root-MuiButton-root:disabled {
  cursor: default;
  opacity: .5;
}

/* LAYOUT */
.layout-component {
  width: 60%;
  margin: 0 auto;
  height: 100vh;
  padding: 20px;
  background-color: var(--white-color);
}

@media (max-width:1300px) {
  .layout-component {
    width: 70%;
  }
}

@media (max-width:1000px) {
  .layout-component {
    width: 80%;
  }
}

@media (max-width:400px) {
  .layout-component {
    width: 100%;
  }
}

/* DRAWER */
.drawer-component {
  padding: 10px;
}

.drawer-list {
  align-items: flex-start;
  gap: 10px;
  margin-left: 20px;
  margin-top: 40px;
}

.drawer-list>a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  padding: 5px 0;
}

.drawer-list>a:hover {
  font-size: 24px;
  transition: 450ms all;
}

.drawer-header-component {
  gap: 10px;
  padding: 0 20px;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  background-color: var(--primary-color) !important;
}


/* PETS PAGE */

.actions-container span {
  margin: 5px;
  cursor: pointer;
}

.actions-container span:first-child {
  color: var(--blue-color);
}

.actions-container span:nth-child(2) {
  color: var(--red-color);
}

.pets-table-container {
  padding: 10px;
  margin-top: 30px;
  border-top: 1px solid var(--gray);
}

.pets-table-container .filters-container {
  margin: 20px 0;
}

.pets-table-container .filters-container-input {
  width: 50%;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100%;
}

.pets-table-container .filters-container .css-sghohy-MuiButtonBase-root-MuiButton-root,
.pets-table-container .filters-container .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  height: 50px;
}

.table-headers {
  background-color: var(--primary-color);
}

.table-headers>th,
.table-headers>td {
  color: var(--white-color);

}

.table-container-scroll {
  max-height: 500px;
  overflow-y: auto;
}

@media (max-height:800px) {
  .table-container-scroll {
    max-height: 300px;
    overflow-y: auto;
  }
}

/* HEADER COMPONENT */
.header-component {
  padding: 0 0 20px 0;
}

/* MENU COMPONENT */
.menu-component button {
  color: black;
  text-transform: capitalize;
}

/* BUTTON BASE */
.btn-base {
  background-color: var(--primary-color) !important;
}

.btn-base-outlined {
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
}

/* REGISTER PET */
.register-pet-page h2 {
  margin-top: 50px;
}

.btn-container-pets-page {
  display: flex;
  margin-top: 30px;
}

.floating-dog {
  position: absolute;
  right: 10%;
  bottom: 0;
}

.reset-button-container {
  justify-content: flex-end;
}

.reset-button-container svg {
  color: var(--primary-color);
  transform: scale(1.2);
  margin: 10px;
  cursor: pointer;
}

@media (max-width:1000px) {
  .floating-dog {
    display: none;
  }
}

/* MODAL */
/* .modal-container{
  background-color: var(--white-color);
} */

/* UPDATE PET */
.update-pet-modal {
  width: 70%;
}

.update-pet-modal button {
  margin-right: 10px;
}


/* MODAL DELETE CONTAINER */
.modal-delete-container {
  width: 50%;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
}

.modal-delete-container button {
  margin-right: 10px;
}

.bg-auth {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -9999;
}

/* LOGIN */
.auth-form-container {
  color: var(--gray) !important;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid var(--gray);
  width: 90%;
  padding: 1rem;
}

.auth-form-container button {
  width: 100%;
  height: 50px;
  margin-top: 1rem;
}

.auth-form-container-link {
  text-align: center;
  margin-top: 2rem;
}

.auth-form-container-link a {
  font-weight: bold;
  color: var(--white-color);
  letter-spacing: 1px;
}

.css-i44wyl{
  width: 100%;
}

.table-row:hover{
  background-color: var(--gray);
  transition: 200ms all;
  cursor: pointer;
}